<div class="model release" id="<%= release_html_id_or_empty(release) %>">
  <span style="float: left; width: 300px;"><%= release_link_or_empty(release) %></span> - <%= release.description %>
  <div class="meta">
    <%= render :partial => "backlogs/model_errors", :object => release.errors unless release.errors.empty? %>
  </div>
</div>
